
<div class="col-md-12">
   <label>Enter New Laptop:</label>
  <div class="form-group">
    <input #newBrand placeholder="Brand">
  </div>
  <div class="form-group">
    <input #newModel placeholder="Model">
  </div>
  <div class="form-group">
    <input #newProcessor placeholder="Processor">
  </div>
  <div class="form-group">
    <input #newScreenSize placeholder="Screen Size">
  </div>
  <div class="form-group">
    <input #newScreenType placeholder="Screen Type">
  </div>
  <div class="form-group">
    <input #newSpecs placeholder="Specs">
  </div>
  <div class="form-group">
    <input #newPrice placeholder="Price">
  </div>
  <div class="form-group">
    <input #newSource placeholder="Source">
  </div>
  <button (click)="submitForm(newBrand.value, newModel.value, newScreenSize.value, newProcessor.value, newSpecs.value, newScreenType.value, newPrice.value, newSource.value)">Add</button>
</div>
